<h2>Welcome to the Virtual Monster Manual</h2>
<%= link_to "Log in", login_path %></br>
<%= link_to "Sign up", signup_path %></br>
<p>This is a virtual version of the Fifth Edition Dungeon and Dragons Monster Manual. 
    We made this because the Monster Manual is difficult to search for specific creatures, 
    whether it be how they formatted their book, or because they have all the monsters in 
    alphabetical order. With these it is difficult to search for creatures, 
    or in some cases, find specific creature types.</p>
 <p>What this attempts to do is store all the creatures from the 5e Monster Maunual, and make 
    it easy to search and find them. As well as store all the information in one place, so if you 
    do use this, you do not need five tabs open, just to find the stats of those creatures,
    you are intested in throwing one or more of those creatures at your players.</p>
