<h1><%= @user.name %></h1>
<% if current_user == @user %>
  <div>
    <%= link_to "Edit", edit_user_path(@user) %> |
    <%= link_to "Delete", @user, method: :delete, data: {
      confirm: "Are you sure? This will completely delete your account."
    } %>
  </div>
<% end %>
