<div class="nested-fields">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, list: "damage-resistances-list" %>
  </div>
  
  <%= link_to_remove_association "Remove damage resistance", f %>
</div>
