@mixin button($color) {
  background-color: $color;
  &:hover {
    background-color: lighten($color, 10);
  }
  &:active {
    background-color: darken($color, 10);
  }
}

@mixin text-input($bg-color, $color) {
    background-color: $bg-color;
    border-radius: 0.25rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid $color;
    &:focus {
      border: 1px solid darken($color, 10);
    }
}
