.flex-5 {
  flex-basis: 5%;
  max-width: 5%;
}

.flex-10 {
  flex-basis: 10%;
  max-width: 10%;
}
.flex-20 {
  flex-basis: 20%;
  max-width: 20%;
}
.flex-25 {
  flex-basis: 25%;
  max-width: 25%;
}
.flex-30 {
  flex-basis: 30%;
  max-width: 30%;
}
.flex-40 {
  flex-basis: 40%;
  max-width: 40%;
}
.flex-50 {
  flex-basis: 50%;
  max-width: 50%;
}
.flex-60 {
  flex-basis: 60%;
  max-width: 60%;
}
.flex-70 {
  flex-basis: 70%;
  max-width: 70%;
}
.flex-75 {
  flex-basis: 75%;
  max-width: 75%;
}
.flex-80 {
  flex-basis: 80%;
  max-width: 80%;
}
.flex-90 {
  flex-basis: 90%;
  max-width: 90%;
}
.flex-100 {
  flex-basis: 100%;
  max-width: 100%;
}
