@import "mixins";
@import "util";
@import "variables";

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: $bg-color;
}

nav {
  overflow: hidden;
  background-color: $nav-color;
  color: $nav-text;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

nav input {
  &[type=button], &[type=submit], &[type=reset] {
    @include button(darken($main-color, 5));
    color: $nav-text;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 50px;
  list-style: none;
}

nav li {
  text-align: center;
  display: block;
  color: inherit;

  &:first-child a {
    padding-left: 30px;
  }

  &:last-child a {
    padding-right: 30px;
  }

  a {
    color: inherit;
    padding: 20px;
    text-decoration: none;
    &:hover {
      color: inherit;
      background-color: lighten($nav-color, 10%);
    }

    &:active {
      color: inherit;
      background-color: darken($nav-color, 10%);
    }

    &:visited {
      color: inherit;
    }
  }
}

main {
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  margin-top: 50px;
  background-color: $main-color;
  max-width: 960px;
  min-height: 100%;
}

input {
  &[type=button], &[type=submit], &[type=reset] {
    @include button($nav-color);
    color: $nav-text;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
  }
}

input:not(.addon-field) {
  &:not([type=submit]):not([type=reset]):not([type=button]):not([type=file]) {
    @include text-input($main-color, $nav-color);
  }
}

select {
  @include text-input($main-color, $nav-color);
}

div.field {
  margin: 10px 0px;

  label {
    display: block;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

div.actions {
  margin: 10px 0px;
}

.addon-container {
  display: flex;

  & .addon-field:first-child, .addon-item:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none
  }

  & .addon-field:last-child, .addon-item:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none
  }
}

.addon-field {
  @include text-input($main-color, $nav-color);
  flex: 1;
}

.addon-item {
  border: 1px solid $nav-color;
}

.push-right {
  margin-left: auto;
}

.fields-horizontal {
  display: inline-flex;
}

.field-item {
  flex: 1 1 auto;
  margin: 0px 10px;
  &:first-child {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
  }
  & * {
    width: 100%;
  }
  & label {
    display: block;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

.container {
  display: flex;
  align-items: center;
}

.collapse-header {
  cursor: pointer;
  border-top: solid 1px lighten($main-text, 75);
}

.toggle {
  display: none;
}

.collapse-note {
  font-size: small;
  font-style: italic;
  color: lighten($main-text, 50);
}

.collapse-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.toggle + .toggle-label .collapse-note:after {
  content: "show";
}

.toggle:checked + .toggle-label .collapse-note:after {
  content: "hide";
}

.toggle:checked + .toggle-label + .collapse-content {
  max-height: 5000px;
}

.collection-item {
  border-bottom: solid 1px lighten($main-text, 80);
  &:last-child {
    border: none;
  }
  &:first-child {
    border-top: solid 1px lighten($main-text, 75);
  }
}

.collapse-singleton {
  border-top: solid 1px lighten($main-text, 75);
}

.creatures {
  padding: 20px 0px;
}
