<h1>Editing Damage Vulnerability</h1>

<%= render 'form', damage_vulnerability: @damage_vulnerability %>

<%= link_to 'Show', @damage_vulnerability %> |
<%= link_to 'Back', damage_vulnerabilities_path %>
