<p id="notice"><%= notice %></p>

<h2><%= @damage_vulnerability.name%></h2>

<%= link_to 'Edit', edit_damage_vulnerability_path(@damage_vulnerability) %> |
<%= link_to 'Back', damage_vulnerabilities_path %>
